<template>
  <div>
    <v-content class="pr-3 pl-3">
      <!-- BUSCAR -->
      <v-layout
        justify-md-end
        justify-lg-end
        justify-xs-center
        justify-sm-center
        class="mb-4"
      >
        <v-flex xs12 md5 sm6 lg3 xl2 class="ml-6 mr-6">
          <v-text-field
            v-model="search"
            outlined
            append-outer-icon="mdi-magnify"
          />
        </v-flex>
      </v-layout>

      <!-- MENSAGEM DE ERRO -->

      <v-layout row wrap justify-center v-if="filteredList == false">
        <v-flex xs6 md5 lg4 xl3 justify-center>
          <v-card-title class="justify-center">
            <v-btn
              @click="cleanSearch()"
              class="mb-6 white--text mt-6"
              color="#F05B78"
            >
              Nenhum resultado
            </v-btn>

            <img
              src="../assets/Error/Bitmap.png"
              class="mt-6"
              width="100%"
              height="auto"
            />
          </v-card-title>
        </v-flex>
      </v-layout>
      <v-card-title
        id="result"
        class="justify-center"
        v-if="(search.length > 0) & (filteredList != false)"
      >
        <p class="font-weight-light">
          Result : <strong> {{ filteredList.length }} </strong>
        </p>
      </v-card-title>
      <!-- Todos os itens / Cards -->

      <v-layout row wrap justify-center class="ma-auto">
        <v-flex
          xs6
          sm4
          md3
          lg2
          xl2
          justify-content-center
          v-for="(item, index) in filteredList"
          :key="index"
        >
          <v-card flat class="justify-start pa-6">
            <v-img id="image" height="auto" width="100%" :src="item.image" />

            <v-card-title class="d-none d-md-flex" d-none d-sm-flex>
              RS: {{ item.preco }}
              <v-spacer></v-spacer>
              <v-btn icon><v-icon x-small> mdi-heart</v-icon></v-btn>
            </v-card-title>

            <v-card-subtitle class="d-none d-md-flex">
              {{ item.description }}</v-card-subtitle
            >
          </v-card>
        </v-flex>
      </v-layout>

      <!-- PAGINATION -->

      <div
        class="text-center mt-5 mb-5"
        v-if="filteredList != false && search.length < 2"
      >
        <v-pagination
          v-model="page"
          :length="Math.ceil(pages.length / perPage)"
        />
      </div>
    </v-content>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      page: 1,
      perPage: 24,
      pages: [
        {
          title: "brinco ",
          preco: "4,99",
          description: "Brinco retro",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "49,00",
          description: "Vestido Azul P",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "8,99",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "99,00",
          description: "Vestido Amarelo P",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "Macacao ",
          preco: "139,00",
          description: "Macação feminino G",
          image: require("../assets/images/macaco.png"),
        },
        {
          title: "vestido curto flor",
          preco: "79,00",
          description: "Vestido curto florido",
          image: require("../assets/images/vestidocurto.png"),
        },
        {
          title: "sandalia ",
          preco: "15,99",
          description: "Sandalia 34/35",
          image: require("../assets/images/sandalha.png"),
        },
        {
          title: "camiseta ",
          preco: "29,00",
          description: "Camiseta Feminino",
          image: require("../assets/images/top.png"),
        },

        {
          title: "brinco ",
          preco: "13,00",
          description: "Brinco",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "89,00",
          description: "Vestido Azul PP",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "10,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "89,00",
          description: "Vestido Amarelo XG",
          image: require("../assets/images/vestidoamarelo.png"),
        },

        {
          title: "brinco ",
          description: "Brinco retro",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "89,00",
          description: "Vestido Azul M",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "9,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "89,00",
          description: "Vestido Amarelo P",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "Macacao ",
          preco: "189,00",
          description: "Macação feminino G",
          image: require("../assets/images/macaco.png"),
        },
        {
          title: "vestido curto flor",
          preco: "89,00",
          description: "Vestido curto florido",
          image: require("../assets/images/vestidocurto.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "5,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "89,00",
          description: "Vestido Amarelo XG",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "camiseta ",
          preco: "29,00",
          description: "Camiseta Feminino",
          image: require("../assets/images/top.png"),
        },

        {
          title: "brinco ",
          preco: "5,99",
          description: "Brinco",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "89,00",
          description: "Vestido Azul G",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "sandalia ",
          preco: "139,00",
          description: "Sandalia 34/35",
          image: require("../assets/images/sandalha.png"),
        },
        {
          title: "brinco ",
          preco: "9,00",
          description: "Brinco retro",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "89,00",
          description: "Vestido Azul M",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "19,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "89,00",
          description: "Vestido Amarelo P",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "Macacao ",
          preco: "289,00",
          description: "Macação feminino G",
          image: require("../assets/images/macaco.png"),
        },
        {
          title: "vestido curto flor",
          preco: "89,00",
          description: "Vestido curto florido",
          image: require("../assets/images/vestidocurto.png"),
        },
        {
          title: "sandalia ",
          preco: "189,00",
          description: "Sandalia 34/35",
          image: require("../assets/images/sandalha.png"),
        },
        {
          title: "camiseta ",
          preco: "89,00",
          description: "Camiseta Feminino",
          image: require("../assets/images/top.png"),
        },

        {
          title: "brinco ",
          preco: "1,90",
          description: "Brinco",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul M",
          preco: "89,00",
          description: "Vestido Azul M",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "16,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo S",
          preco: "189,00",
          description: "Vestido Amarelo S",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "camiseta ",
          preco: "89,00",
          description: "Camiseta Feminino",
          image: require("../assets/images/top.png"),
        },

        {
          title: "brinco ",
          preco: "12,00",
          description: "Brinco",
          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "29,00",
          description: "Vestido Azul G",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "19,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "29,00",
          description: "Vestido Amarelo XG",
          image: require("../assets/images/vestidoamarelo.png"),
        },

        {
          title: "brinco ",
          preco: "19,00",
          description: "Brinco",

          image: require("../assets/images/image.png"),
        },
        {
          title: "Vestido azul ",
          preco: "89,00",
          description: "Vestido Azul G",
          image: require("../assets/images/vestido.png"),
        },
        {
          title: "Anel cachorro ",
          preco: "29,00",
          description: "Anel cachorro",
          image: require("../assets/images/anel.png"),
        },
        {
          title: "Vestido Amarelo ",
          preco: "89,00",
          description: "Vestido Amarelo XG",
          image: require("../assets/images/vestidoamarelo.png"),
        },
        {
          title: "sandalia ",
          preco: "29,00",
          description: "Sandalia 34/35",
          image: require("../assets/images/sandalha.png"),
        },
      ],
    };
  },

  computed: {
    //FILTRO
    filteredList: function () {
      return this.visiblePages.filter((pages) => {
        return pages.title.toLowerCase().match(this.search.toLowerCase());
      });
    },

    //PAGINACAO
    visiblePages() {
      return this.pages.slice(
        (this.page - 1) * this.perPage,
        this.page * this.perPage
      );
    },
  },

  methods: {
    cleanSearch() {
      this.search = "";
    },
  },
};
</script>

<style scoped>
#image {
  cursor: pointer;
  opacity: 0.86;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  border-radius: 5px;
}

#image:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: transform 0.5s ease;
}

#result {
  color: #bdbdbd;
}
#price {
  font-size: 15px;
}
</style>