<template>
  <div>
    <v-app-bar app color="grey lighten-5" flat>
      <v-spacer />
      <v-img src="@/assets/enjoei-logo.png" max-height="40px" max-width="36px">
      </v-img>
      <v-spacer />
      <br />
    </v-app-bar>
  </div>
</template>
