<template>
  <v-app>
    <Navbar />
    <v-main>
      <Body />
    </v-main>

    <v-footer padless>
      <v-col class="text-center" cols="12">
        <p class="font-weight-thin caption">
          ENJOEI © 2021 - todos os direitos reservados - enjoei.com.br
          atividades de internet S.A. CNPJ: 16.922.038/0001-51
          <br />
          Av. isaltino victor de moraes, 437, vila bonfim, embu das artes, sp,
          06806-400 - (11) 3197-4883
        </p>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import Body from "./components/Body.vue";
import Navbar from "./components/NavBar.vue";

export default {
  name: "App",

  components: {
    Body,
    Navbar,
  },
};
</script>
